{% extends 'base.html' %}


{% block content %}
  <h2>Search for a Song</h2>
  {% if messages %}
    {% for message in messages %}
      <p class="error">{{ message }}</p>
    {% endfor %}
  {% endif %}
  <p>Enter your search in the format "<em>&lt;song title&gt; by &lt;artist&gt;</em>".</p>
  <form method="post" action="{% url 'search_song' %}">
    {% csrf_token %}
    <label for="song_title">Song:</label>
    <input type="text" name="song_title" required>
    <button type="submit">Search</button>
  </form>
{% endblock %}

